<header>
  <span class="company-name pt-3">{{ shop.name | upcase }}</span>
  <span>{{ section.settings.cart }}</span>

  <!-- For Navigation Links -->
  <ul class="mb-0 text-center">
    {% for link in linklists.main-menu.links -%}
      <li class="nav-link">{{ link.title | upcase | link_to: link.url }}</li>
    {%- endfor %}
    <li class="nav-link">
      <a href="/cart">
        <i>&#x1F6D2;</i>
      </a>
    </li>
  </ul>

</header>