<h1>404</h1>
<hr>
<p>Page Not Found</p>

{% schema %}
  {
    "name": "404",
    "settings": [
      {
        "type": "html",
        "id": "404",
        "label": "Error"
      }
    ]
  }
{% endschema %}