<h1>404</h1>
<hr>
<p>Page Not Found</p>

{% schema %}
  {
    "name": "four",
    "settings": [
      {
        "type": "checkbox",
        "id": "four",
        "label": "Error"
      }
    ]
  }
{% endschema %}