<div class="container">
  <h2>404 Error - Page Not Found</h2>
  <div class="alert alert-danger">
    The page in this book is missing.
  </div>

  <p>
    <a href="/index" class="btn btn-outline-secondary text-uppercase">Go Back</a>
  </p>
</div>

{% schema %}
  {
    "name": "four",
    "settings": [
      {
        "type": "checkbox",
        "id": "four",
        "label": "Error"
      }
    ]
  }
{% endschema %}