<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Option 1</h5>
          <p class="card-text">Just a button that will take you to the home page for now.</p>
          <a href="{{ "/index" }}" class="btn btn-dark text-uppercase">Home</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Option 2</h5>
          <p class="card-text">Just a button that will take you to the contact page for now.</p>
          <a href="{{ "/pages/contact" }}" class="btn btn-outline-secondary text-uppercase">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "cards",
    "settings": [
      {
        "type": "product",
        "id": "cards",
        "label": "Cards"
      }
    ]
  }
{% endschema %}