<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Option 1</h5>
        <p class="card-text">What an amazing offer</p>
        <a href="{{ page.url }}" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Option 2</h5>
        <p class="card-text">Not a good offer, just looks nice.</p>
        <a href="{{ page.url }}" class="btn btn-primary">Contact</a>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "cards",
    "settings": [
      {
        "type": "product",
        "id": "cards",
        "label": "Cards"
      }
    ]
  }
{% endschema %}