<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Product 1</h5>
      <p class="card-text">This is where the text would go.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 9 mins ago</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Product 2</h5>
      <p class="card-text">This is where the text would go.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 44 mins ago</small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Product 3</h5>
      <p class="card-text">This is a where the text would go.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 59 mins ago</small>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "cards",
    "settings": [
      {
        "type": "product",
        "id": "cards",
        "label": "Cards"
      }
    ]
  }
{% endschema %}