{% comment %}<h1>{{ collections['frontpage'].title }}</h1>

{% for product in collections['frontpage'].products %}
  {% render 'product-item', product: product %}
{% endfor %}

{% schema %}
  {
    "name": "main",
    "settings": [
      {
        "type": "page",
        "id": "main",
        "label": "Main"
      }
    ]
  }
{% endschema %} {%  endcomment %}