<div class="container">
  <h1 class="text-center">{{ collection.title }}</h1>
  {% paginate collection.products by 5 %}
    <select id="sort-by" class="collection-options text-center">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

      {% for option in collection.sort_options %}
        <option
          value="{{ option.value }}"
          {% if option.value == sort_by %}
            selected="selected"
          {% endif %}
        >
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
    
    <div class="collection-grid">
      {% for product in collection.products %}
        {% render 'product-item', product: product %}
      {% endfor %}
    </div>

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "collection",
  "settings": [
    {
      "type":"collection",
      "id": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
