{% liquid
  assign header = section.settings.header
  assign background_image = section.settings.background_image
%}

{% comment %} All visual stuff goes here {% endcomment %}
<div class="hero bg-secondary d-flex justify-content-center align-items-center position-relative">
  {% if background_image %}
    {{ background_image | image_url: width: 2500 | image_tag: preload: true, class: "hero__background-image" }}  
  {% endif %}
  <div class="container position-relative z-10 bg-white">
    <h1>Hero</h1>
  </div>
  {{ header }}
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "label": "Header",
        "id": "header"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ]
  }
{% endschema %}