<div class="icon-container">
  <div class="icon-item">
    <i class="bi bi-capsule">Tablets</i>
  </div>
  <div class="icon-item">
    <i class="bi bi-emoji-smile-fill">Positivity</i>
  </div>
  <div class="icon-item">
    <i class="bi bi-lightning-charge-fill">Speed</i>
  </div>
  <div class="icon-item">
    <i class="bi bi-lungs">Endurance</i>
  </div>
  <div class="icon-item">
    <i class="bi bi-shield-plus">Protection</i>
  </div>
</div>

{% schema %}
  {
    "name": "icons",
    "settings": [
      {
        "type": "text",
        "id": "icon-text",
        "label": "Icon Texts"
      }
    ]
  }
{% endschema %}