{% if section.settings.checkbox == false %}
  <!-- When checked image will display in right column -->
  <div class="grid-container">
    {% for block in section.blocks %}
      <div class="grid-item">
        <img src="{{ block.settings.image | image_url: width: 500 }}" alt="Images">
      </div>
      <div class="grid-item">
        {{ block.settings.text }}
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="grid-container">
    {% for block in section.blocks %}
      <div class="grid-item">
        {{ block.settings.text }}
      </div>
      <div class="grid-item">
        <img src="{{ block.settings.image | image_url: width: 500 }}" alt="Images">
      </div>
    {% endfor %}
  </div>

{% endif %}

{% schema %}
  {
    "name": "image",
    "settings": [
      {
        "type": "checkbox",
        "id": "checkbox",
        "label": "Image on Right side?"
      }
    ],
    "blocks": [


      {
        "name": "image",
        "type": "image_picker",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "text",
            "label": "Description",
            "placeholder": "Write something here"
          }
        ]
      }
    ]
  }
{% endschema %}