<div class="container py-5">
  {% for block in section.blocks %}
    <div class="image-text-container">
      <div class="image-item {% if section.settings.checkbox %} order-1{% endif %}">
        <img src="{{ block.settings.image | image_url: width: 500 }}" alt="Images">
      </div>
      <div class="text-item">
        {{ block.settings.text }}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "image",
    "settings": [
      {
        "type": "checkbox",
        "id": "checkbox",
        "label": "Image on Right side?"
      }
    ],
    "blocks": [
      {
        "name": "image",
        "type": "image_picker",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "text",
            "label": "Description",
            "placeholder": "Write something here"
          }
        ]
      }
    ]
  }
{% endschema %}