<div class="alt-message">
  {{ page.content }}
</div>

{% schema %}
  {
    "name": "Page",
    "settings": [
      {
        "type": "text",
        "id": "alternate_header",
        "label": "Alternate Header"
      }
    ]
  }
{% endschema %}