<h3>This is the section file being used for the main page</h3>

{% schema %}
  {
    "name": "main-page",
    "settings": [
      {
        "type": "text",
        "id": "main_page",
        "label": "Main Page"
      }
    ]
  }
{% endschema %}