<div class="home-page">
  <h3>Welcome to the Home Page</h3>
</div>

{% schema %}
  {
    "name": "main-page",
    "settings": [
      {
        "type": "page",
        "id": "main_page",
        "label": "Main Page"
      }
    ]
  }
{% endschema %}