<h3>This is the section file being used for the main page ['main.liquid']</h3>
<p>To Do: Swap Contact and Home sections around</p>


{% schema %}
{
  "name": "main-page",
  "settings": [
    {
      "type": "page",
      "id": "main_page",
      "label": "Main Page"
    }
  ]
}
{% endschema %}
