<h1>Main Content</h1>

<!-- <div>{% render 'header' %}</div> -->

{% schema %}
  {
    "name": "main-page",
    "settings": [
      {
        "type": "text",
        "id": "main_page",
        "label": "Main Page"
      }
    ]
  }
{% endschema %}