<h1>Main Content</h1>

{% schema %}
  {
    "name": "main-page",
    "settings": [
      {
        "type": "text",
        "id": "main_page",
        "label": "Main Page"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}