<h3>This is the section file being used for the main page ['main.liquid']</h3>

{% schema %}
{
  "name": "main-page",
  "settings": [
    {
      "type": "text",
      "id": "main_page",
      "label": "Main Page"
    },
    {
      "type": "image_picker",
      "id": "images",
      "label": "Image"
    }
  ]
}
{% endschema %}

<footer>{% render 'contact' %}</footer>
