<ul>
  {% for products in collections.products %}
    <li>{{ product.title }}</li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "Masonry",
  "settings": [
    {
      "id": "masonry",
      "label": "Masonry",
      "type": "image_picker"
    }
  ],
  "templates": ["index"],
  "presets": [
    {
      "name": "catergory"
    }
  ],
  "blocks": []

}
{% endschema %}
