<div>{% render 'contact' %}</div>

{% schema %}
  {
    "name": "contact",
    "settings": [
      {
        "type": "text",
        "id": "contact",
        "label": "Contact"
      }
    ]
  }
{% endschema %}