<h1>{{ page.title | upcase }}</h1>
<div class="contact-area">
  {% render 'contact' %}
</div>
{% schema %}
{
  "name": "contact",
  "settings": [
    {
      "type": "page",
      "id": "contact",
      "label": "Contact"
    }
  ]
}
{% endschema %}
