<h1>{{ page.title }}</h1>

<div>{{ page.content }}</div>

{% schema %}
  {
    "name": "notes",
    "settings": [
      {
        "type": "page",
        "id": "notes",
        "label": "Notes"
      }
    ]
  }
{% endschema %}