    /* --------   TEXT DECORATION */
    .nav-link:hover,
    .page:hover,
    .next:hover,
    .prev:hover {
      text-decoration: line-through solid 2px red;
      transition: ease-out 0.7s;
  
    }


  /* --------- ICONS */
  .icon-item:hover {
    cursor: pointer;
    opacity: 0.7;
  }


  /* ---------  PRODUCT & IMAGES */
  .image-swap .image-on-hover {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .product-item .image-swap:hover .image-on-hover {
    opacity: 1;
  }
