  .nav-link:hover {
    transition: ease-out 0.7s;
    border-radius: 10px;
    text-decoration: line-through red 2px;

  }

  .icon-item:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .product-item .image-swap .image-on-hover {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .product-item .image-swap:hover .image-on-hover {
    opacity: 1;
  }

  .page:hover,
  .next:hover,
  .prev:hover {
    text-decoration: line-through solid 2px red;

  }