body {
  background-color: coral;
}

header {
  background-color: beige;
}

<<<<<<< HEAD
.company-name {
  display: flex;
  justify-content: center;
}

=======
>>>>>>> f7eaa5e1be517f733eeb9da2098d02fe35fa20a2
li,
a {
  text-decoration: none;
  display: inline-flex;
  list-style: none;
  padding: 10px;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-bg,
.contact-area {
  background-color: beige;
}

<<<<<<< HEAD
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 10px; */
}

.grid-item {
  background-color: beige;
  padding: 20px;
  text-align: center;
}

.favicon-area {
  background-color: brown;
}
=======
li:nth-child
>>>>>>> f7eaa5e1be517f733eeb9da2098d02fe35fa20a2
