/* ------------ BACKGROUND COLORS */
body {
  background-image: linear-gradient(90deg, transparent 0%, transparent 12%, rgb(243,197,147) 12%, rgb(243,197,147) calc(12% + 2px),
  transparent calc(12% + 2px), transparent calc(12% + 6px), rgb(243,197,147) calc(12% + 6px), rgb(243,197,147) calc(12% + 8px), 
  transparent calc(12% + 8px), transparent 100%), 
  linear-gradient(180deg, rgb(251,238,159) 12%, transparent 12%),
   repeating-linear-gradient(180deg, rgb(201,215,152) 0px, rgb(201,215,152) 2px, transparent 2px, transparent 32px), 
   linear-gradient(rgb(251,238,159),rgb(251,238,159));
}

header {
  z-index: 20;
 /*  position: fixed; Haven't decided if I want this yet*/
  width: 100%;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(180deg, rgb(106,42,27), rgb(106,42,27) 10%, transparent calc(10% + 2px)),
  linear-gradient(90deg, transparent 0%, transparent 12%, rgb(245,196,146) 12%, rgb(245,196,146) calc(12% + 2px), 
  transparent calc(12% + 2px), transparent calc(12% + 6px), rgb(245,196,146) calc(12% + 6px), rgb(245,196,146) calc(12% + 8px),
  transparent calc(12% + 8px), transparent 100%), linear-gradient(180deg, rgb(251,238,159) 22%, transparent 22%),
   repeating-linear-gradient(180deg, rgb(201,215,152) 0px, rgb(201,215,152) 2px, transparent 2px, transparent 36px), 
   linear-gradient(rgb(251,238,159),rgb(251,238,159));
}

/* HERO */
.hero {
  height: 90vh;
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}

.hero__background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  opacity: 0.6;
}


/* -------------   TEXTS & FONTS RELATED */
.page,
.next,
.prev,
.card-text,
.card-title,
.icon-item,
.new,
.product-title,
.product-price,
.product-content,
.text-item {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page,
.next,
.prev, 
.company-name,
.new {
  font-size: large;
  font-weight: 400;
}

.company-name,
.new {
  display: flex;
  justify-content: center;
}

.new {
  padding: 10px;
  font-size: xx-large;
}


/* ----------    NAV & LINKS */ 
.nav-link,
a {
  color: black;
  text-decoration: none;
  display: inline-flex;
  list-style: none;
  padding: 10px;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
}

a {
  display: flex; 
}


/* CONTAINERS, GRIDS & ITEMS */
.container {
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;

  display: block;
  border: solid 3px black;
  padding: 40px 60px;
  max-width: 98%;
  margin: 100px auto 0;
  font-size: 17px;
  line-height: 28px;
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  text-align: center;
  width: 100%;
}

.icon-container,
.icon-message,
.alt-message {
  display: flex;
  padding: 25px;
  justify-content: space-evenly;
}

.icon-message {
  justify-content: center;
}

.image-text-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.image-text-container .image-item,
.image-text-container .text-item {
  width: 50%;
  font-size: large;
}

.image-item {
  border-left: solid 2px navy;
  border-bottom: solid 2px navy;
  border-top: solid 2px navy;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.collection-grid .product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------   SECTIONS RELATED */
.product-title,
.product-price,
.product-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  border: solid 2px navy;
}

.card {
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}

.empty-cart {
  border: 1px solid grey;
}


select {
  border: solid 1px red;
  border-radius: 5px;
}

.current {
  visibility: hidden;
}

.form-control {
  border: solid 1px navy;
}


/* -----  Need to work out what is stopping it working further up the page */
.hero-pad {
  max-width: fit-content;
}