body {
  background-color: coral;
}

header {
  background-color: beige;
}
li,
a {
  text-decoration: none;
  display: inline-flex;
  list-style: none;
  padding: 10px;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}

.collection-bg,
.contact-area {
  background-color: beige;
}
